# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.env
.pnp.js


# testing
/coverage

# production
/build

# mypy
.mypy_cache/

#vscode
.vscode/

# virtualenv
.venv
venv/
ENV/

# pyenv
.python-version

# Flask stuff:
instance/
.webassets-cache

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class